
.contain {
	display: flex;
	justify-content: left;
	margin-top: 100px;
}
#capt {
	width: 170px;
	height: 72px;
	font-size: 37px;
	background-color: #55c0e0;
	padding: 5px;
	border: none;
	letter-spacing: 1px;
	float: left;
	color: rgb(7, 39, 44);
	border-radius: 5px 0 0 5px;
}
#refresh {
	float: left;
	background-color: #efe7f5;
	height: 82px;
	border-radius: 0 5px 5px 0;
}
#refresh img {
	margin-top: 20px;
	cursor: pointer;
}
#textinput {
	width: 170px;
	height: 70px;
	font-size: 37px;
	background-color: crimson;
	border: none;
	margin-left: 10px;
	border-radius: 5px;
	padding: 5px;
	color: #D58A1E;
}
.contain button {
	padding: 8px 20px;
	height: 35px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 25px;
	background-color: #37a80e;
	color: #CED4F0;
	transition: .5s;
}
.contain button:hover {
	background-color: #976216;
}